{% load static %}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> {% block title %} {% endblock%}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/login.css' %}">


        {% block head %} {% endblock%}
    </head>
    <body>

    <nav>
        <h2> <a href="/"> OLAYIWOLA'S  AIRLINE  </a> </h2>
        
        <div>
        <a href="/login"> <button> Login </button> </a>
        <a href="/signup"> <button> Signup </button> </a>

        </div>
    
    </nav>
    <main class="main">

    {% block content %}  {% endblock%}
    </main>
        
        <script src="" async defer></script>
    </body>
</html>