{% extends "./base.html" %}
{% load static %}
{% block title %} Create Account {% endblock %}


{% block content %} 

<div class="auth">

    <form method="post" >

    {% csrf_token %}

    <h2> Login </h2>
        
        <input name="username" type="text" placeholder="Enter Username" required/>

        <input name="password" type="password" placeholder="Enter password" required/>

        <button> Login </button>
        
        <h2 class="p2">Don't have an Account?</h2>


           </form>
            
           <div class="Account">

            <a href="/create">
                <button class="login">Create An Account</button>
            </a>
    </form>


    </div>

{% endblock%}